
.footer{
    padding-top:5rem;
    /* padding-bottom:2rem; */
    background-color:#FBC225;
    
}
.footer-container{
    margin-right:5rem;
    margin-left:5rem;
/* border:red solid 1px; */
}
.footer-a{
    display:flex;
    gap:3rem;
    flex-wrap:wrap;
}
.footer-a-div1{
    width:22.5rem;
    /* border:green solid 1px; */
}
.footer-a-div1a-img{
    width:5rem;
    height:3rem;
}
.footer-a-div1a-img img{
    width:inherit;
    height:inherit;
}
.footer-a-div1b{
    color:#584d47;
    font-size:16px;
    font-weight: 600;
    margin-top:1rem;
}
.front-main6-div2b{
    margin-top:1rem;
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
  }
  .front-main6-icon{
    /* background-color: #5138EE; */
    border-radius:50%;
    border:#42210B solid 2px;
    cursor:pointer;
  }
  .front-main6-icon:hover{
    background-color:#8a502c;
  }
.footer-a-div2{
    width:10rem;
    /* border:rgb(55, 0, 128) solid 1px; */

}
.footer-a-div2a{
    color:#2c1b12;
    font-size: 18px;
    font-weight: 600;
}
.footer-a-div2b{
    color:#584d47;
    margin-top:1rem;
}
.footer-a-div3{
    width:22.5rem;
    /* border:rgb(128, 0, 64) solid 1px; */

}
.footer-a-div3a{
    color:#2c1b12;

}
.front-main6-div1b{
    margin-top:1rem;
    display:flex;
    border:#584d47 solid 1px;
    border-radius:0.5rem;
    width:100%;
    position: relative;
  }
  .front-main6-div1b input{
    padding:1rem;
    border:none;
    width:100%;
    color:#42210B;
    background-color: transparent;
    /* font-size:14px; */
  }
.footer-plane-icon{
    background-color:#2c1b12;
    border-radius:0.5rem;
    padding:1rem;
}

.footer-b{
    border-top:#584d47 solid 1px;
    margin-top:3rem;
    padding:2rem;
    display:flex;
    position: relative;
}
.footer-b-div1{
    color:#2c1b12;
}
.footer-b-div2{
    position: absolute;
    right:0;
    display:flex;
    gap:2rem;
    color:#2c1b12;
}

@media screen and (max-width: 950px) {
    .footer-container{
        margin-right:2rem;
        margin-left:2rem;
    }
    .footer-b{
        margin-top:3rem;
        padding:0rem;
        padding-bottom:2rem;
        padding-top:1rem;
        display:block;
    }
    .footer-b-div2{
        margin-top:1rem;
        position: static;
        right:none;
        gap:1rem;
        flex-wrap:wrap;
    }
}
@media screen and (max-width: 450px) {
    .footer-a{
        gap:1rem;
    }
    .footer-a-div1b{
        font-size:12px;
    }
    .footer-a-div2a{
        font-size: 16px;
    }
    .footer-a-div2b p{
        font-size: 12px;
    }
    .footer-b{
        font-size: 12px;
    }
}
