@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  /* font-family: "Poppins", sans-serif; */
}

.stake-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
  /* flex-direction: column !important; */
}

.stake-main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  /* max-width: 1200px; */
  margin: 40px 0;
}

.stake-main .container .card {
  position: relative;
  min-width: 330px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.stake-main .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

.stake-main .container .card:nth-child(2) .box .content a {
  background: #e91e63;
}

.stake-main .container .card:nth-child(3) .box .content a {
  background: #23c186;
}

.stake-main .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #FBC225;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.stake-main .container .card .box:hover {
  transform: translateY(-50px);
}

.stake-main .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.stake-main .container .card .box .content {
  padding: 20px;
  text-align: center;
}

.stake-main .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.stake-main .container .card .box .content h3 {
  font-size: 1.8rem;
  color: black;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.stake-main .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: black;
  z-index: 1;
  transition: 0.5s;
}

.stake-main .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.stake-main .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
.pname{
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 600 !important;
font-size: 25px !important;
/* line-height: 35px; */
color: #000000;
margin-left: -70px;
margin-top: 132px;
}
.busdimg{
    position: relative;
    height: 36px;
    top: -55px;
    left: 105px;
    
    
  }
  .bnbimg{
    height: 28px;
    position: relative;
    left: -137px;
    top: -5px;
  }
  .busdtext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 35px;
    color: #000000;
    position: relative;
    left: -75px;
    top: -58px;
    /* margin-left: 14px; */
    /* margin-top: -30px; */
  }
  .pntextbox{
    position: relative;
    top: -194px !important;
    left: -175px !important;
  }
  .inptbox{
    position: relative;
    top: -112px;
    left: 40px;
    height: 30px;
    width: 150px;
    border-radius: 15px;
  padding-left: 10px !important;

  }
  .invper{
    font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 14px !important;
  /* line-height: 20px; */
  margin-left: -123px !important;
  position: relative;
  top: -100px;
  /* identical to box height */
  
  
  color: #000000;
  }
  .mont{
    position: relative;
    left: 140px;
    top: -134px;
  }
  .pmp{
    /* margin-top: -25px; */
    position: relative;
    margin-top: -40px;
    margin-left: -130px !important;
  }
  .pdp{
    margin-left: -150px !important;
    margin-top: -40px;
  }
  .pmper{
    margin-left: 190px !important;
    position: relative;
    top: -135px;
  }
  .tp{
    margin-left: -170px !important;
  }
  .invbtn{
    width: 91px;
    height: 38px;
    background: #1C91FE;
    border-radius: 5px;
    color:black;
    font-size: 16px !important;
    border: none;
    position: relative;
    top: -130px;
    /* margin-top: -17px !important; */
    margin-left:10px;
    cursor: pointer;
  }







  @media (min-width:320px) and (max-width:900px){
    .container{
        display: flex;
        flex-direction: column;
        /* width: 100% !important; */
    }
  }